*{
    margin: 2px;
    padding: 2px;;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: linear-gradient(to right top,#355C7D,#CD6C84);
   background-attachment: scroll;
}
a{
    text-decoration:none;
    color:yellow;
}
.body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.head-navig{
    display:flex;
    align-items: center;
    justify-content: center;
}
.but1,.but2,.but3,.but4,.but5,.but6,.but7{
    margin:10px;
    border-radius: 10px;
    border:0;
    font-size: 15px;
    width: 120px;
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.but1{    
    background: linear-gradient(to right,#f8b195,#f67280);
}
.but2{    
    background: linear-gradient(to right,#f67280,#f5635e);
}

.but3{    
    background: linear-gradient(to right,#f5635e,#be4f4c);
}

.but4{    
    background: linear-gradient(to right,#be4f4c,#b44855);
}

.but5{    
    background: linear-gradient(to right,#b44855,#6c5b7b);
}

.but6{    
    background: linear-gradient(to right,#6c5b7b,#465d8d);
}

.but7{    
    background: linear-gradient(to right,#465d8d,#355c7d);
}

.title{
    margin:40px;
    width:120%;
}
.title h1{
    font-size:40px;
    color:white;
    background-color:rgba(255,255,255,0.1);
}
.wrapper{
    display:grid;
    background-color:#355C7D;
    grid-template-columns: 570px 570px;
    grid-template-rows: 500px 500px;
}